body
{
	background-color: pink;
}

img
{
	border-radius:3vw;
	margin:auto;
}

img.carousel
{
	width:90%;
}

#centrebox
{
	width:auto;
	height:auto;
	margin:auto;
	padding:5px;
	align:center;
}
#mainbox
{
	width: 80%;
	height: auto;
	margin: auto;
	background-color: #cccccc;
	padding:2%;
	border-radius:20px;
}

#topbox
{
	width: 95%;
	height: auto;
	margin: auto;
	background-color: #999999;
	border-radius:20px;
	padding:10px;
}

#contentbox
{
	width: 95%;
	height: auto;
	margin: auto;
	background-color: #bbbbbb;
	border-radius:20px;
	padding:10px;
}

#littlebox
{
	width: 95%;
	height: auto;
	margin: auto;
	background-color: #aaaaaa;
	border-radius:20px;
	padding:10px;
	font-family: "Times New Roman", Times, serif;
	color: black;
	font-size: 12pt;
}

.button
{
	background-color: PINK;
  border: none;
  color: white;
  padding: 3vw 5vw;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 3vw;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
	border-radius:3vw;
}

.button:hover
{
  box-shadow: 0 2.4vw 3vw 0 rgba(0,0,0,0.24),0 3vw 6vw 0 rgba(0,0,0,0.19);
	background-color: pink;
  color: red;
}

a:link,a:visited
{
	color: pink;
	padding: 5px;
	text-decoration: none;
	font-size: 3.5vw;
	-webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
	border-radius:10px;
}

a:hover
{
  color: red;
	background-color: pink;
	border-radius: 20px;
}

#t a:link,a:visited
{
	color: pink;
	padding: 5px;
	text-decoration: none;
	font-size: 1.5vw;
	-webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

#t a:hover
{
  color: red;
}

sub
{
  border: none;
  color: white;
  padding: 3vw 5vw;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 3vw;
  margin: 4px 2px;
}

h1
{
	font-family: "Times New Roman", Times, serif;
	color: pink;
	font-size: 8vw;
	text-align: center;
}

h2
{
	font-family: "Times New Roman", Times, serif;
	color: black;
	font-size: 2vw;
}

h3
{
	font-family: "Times New Roman", Times, serif;
	color: black;
	font-size: 2vw;
}

figcaption
{
	font-size: 3vw;
}

p
{
	font-size:2vw
}

table
{
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
		font-size:2vw
}

th
{
    cursor: pointer;
}

th, td
{
    text-align: left;
    padding: 2vw;
		font-size:2vw
}

tr:nth-child(even)
{
    background-color: #aaaaaa
}

tr:nth-child(odd)
{
    background-color: #bbbbbb
}
