body
{
	background-color: pink;
}

#centrebox
{
	width:auto;
	height:auto;
	margin:auto;
	padding:5px;
	align:center;
}
#mainbox
{
	width: 80%;
	height: auto;
	margin: auto;
	background-color: #cccccc;
	padding:2%;
	border-radius:20px;
}

#topbox
{
	width: 95%;
	height: auto;
	margin: auto;
	background-color: #999999;
	border-radius:20px;
	padding:10px;
}

#contentbox
{
	width: 95%;
	height: auto;
	margin: auto;
	background-color: #bbbbbb;
	border-radius:20px;
	padding:10px;
}

#littlebox
{
	width: 95%;
	height: auto;
	margin: auto;
	background-color: #aaaaaa;
	border-radius:20px;
	padding:10px;
	font-family: "Times New Roman", Times, serif;
	color: black;
	font-size: 12pt;
}

.button
{
	background-color: PINK;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
	border-radius:20px;
}

.button:hover
{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
	background-color: pink;
  color: red;
}

a:link,a:visited
{
	color: pink;
	padding: 5px;
	text-decoration: none;
	font-size: 4vw;
	-webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
	border-radius:10px;
}

a:hover
{
  color: red;
	background-color: pink;
	border-radius: 20px;
	padding: 5px;
	font-size: 20pt;
}

h1
{
	font-family: "Times New Roman", Times, serif;
	color: pink;
	font-size: 8vw;
	text-align: center;
}

h2
{
	font-family: "Times New Roman", Times, serif;
	color: black;
	font-size: 16pt;
}

figcaption
{
	font-size: 30pt;
}
